global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'ishemalink'
    static_configs:
      - targets: ['web:8000']
    metrics_path: '/api/ops/metrics/'
    scheme: http

  - job_name: 'postgres'
    static_configs:
      - targets: ['db:5432']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']
